
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.8rem;
}.painel-uvN {
  box-sizing: border-box;
  padding: 1.2rem 1.1rem 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.painel-uvN .ttulo-painel-1-FDY {
  margin: 0rem 0rem 2.9rem 1.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn {
  width: 100%;
  height: 50.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .dados-rUE {
  margin-right: 0.5rem;
  box-sizing: border-box;
  padding: 1.2rem 1.3rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0599999987);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .dados-rUE .image-1-dados-o8a {
  width: 83rem;
  height: 13.158rem;
  object-fit: cover;
  vertical-align: top;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN {
  box-sizing: border-box;
  padding: 1.05rem 0.6rem 1.05rem 0.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.0599999987);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .rectangle-4-RQr {
  margin: 1.35rem 0.1rem 0rem 0rem;
  width: 0.8rem;
  height: 22.1rem;
  background-color: #00008b;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 {
  width: 13.4rem;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-1-u58 {
  margin-bottom: 1.15rem;
  width: 9.3911rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-1-u58 .ttulo-grfico-1-3BL {
  margin-bottom: 0.15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-1-u58 .auto-group-z1sc-Ytn {
  margin-right: 0.213rem;
  width: 9.1781rem;
  height: 1.9rem;
  position: relative;
  border: solid 0.1rem #006ed5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6ad500;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-1-u58 .auto-group-z1sc-Ytn .rectangle-2-gk6 {
  width: 7.3425rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff0000;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-1-u58 .auto-group-z1sc-Ytn .rectangle-1-nHL {
  width: 5.5068rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cbbf01;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-2-Fgi {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-2-Fgi .ttulo-grfico-1-zeJ {
  margin: 0rem 0.918rem 0.15rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-2-Fgi .auto-group-fwfx-W6r {
  width: 100%;
  height: 1.9rem;
  position: relative;
  border: solid 0.1rem #006ed5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6ad500;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-2-Fgi .auto-group-fwfx-W6r .rectangle-2-rgW {
  width: 9.1781rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff0000;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .grfico-2-Fgi .auto-group-fwfx-W6r .rectangle-1-CVU {
  width: 7.3425rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cbbf01;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 {
  box-sizing: border-box;
  padding-top: 0.95rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-3-rpv {
  margin-bottom: 1.15rem;
  width: 12.4429rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-3-rpv .ttulo-grfico-1-bGi {
  margin: 0rem 0rem 0.15rem 0.039rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-3-rpv .auto-group-tmk4-4g6 {
  width: 100%;
  height: 1.9rem;
  position: relative;
  border: solid 0.1rem #006ed5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6ad500;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-3-rpv .auto-group-tmk4-4g6 .rectangle-2-Qzr {
  width: 10.05rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff0000;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-3-rpv .auto-group-tmk4-4g6 .rectangle-1-AUE {
  width: 7.3425rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cbbf01;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-4-stS {
  margin-bottom: 0.95rem;
  width: 12.4822rem;
  height: 3.55rem;
  position: relative;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-4-stS .ttulo-grfico-1-DSW {
  width: 6.9rem;
  height: 1.7rem;
  position: absolute;
  left: 2.7911rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-4-stS .rectangle-3-toY {
  width: 12.4822rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 1.65rem;
  border: solid 0.1rem #63c4c2;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #66707d;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-4-stS .rectangle-2-PkJ {
  width: 11.5644rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 1.65rem;
  background-color: #c24b46;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-4-stS .rectangle-1-8Sz {
  width: 9.3616rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 1.65rem;
  background-color: #407d76;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-5-5NE {
  width: 12.4822rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-5-5NE .ttulo-grfico-1-qMQ {
  margin: 0rem 0rem 0.15rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-5-5NE .auto-group-18wz-xB8 {
  width: 100%;
  height: 1.9rem;
  position: relative;
  border: solid 0.1rem #63c4c2;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d8ebf1;
  flex-shrink: 0;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-5-5NE .auto-group-18wz-xB8 .rectangle-2-uMG {
  width: 11.2943rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #6ad500;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-5-5NE .auto-group-18wz-xB8 .rectangle-4-3yG {
  width: 8.4229rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #feef01;
}
.painel-uvN .auto-group-b4tw-Lkn .grficos-6tN .auto-group-499g-kT8 .auto-group-pfcj-Wm4 .grfico-5-5NE .auto-group-18wz-xB8 .rectangle-1-ohY {
  width: 5.9658rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #006ed5;
}
