
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.8rem;
}.painel-chC {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 1.2rem 1.9rem 29.247rem 1.9rem;
  width: 100%;

  .ttulo-painel-1-jmp {
    margin: 0rem 0rem 1.8rem 0.7rem;
    flex-shrink: 0;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.15;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .filtros-2W2 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.6rem 1.35rem 0.7rem 1.4rem;
    width: 100%;
    box-shadow: 0 0 0.1rem rgba(25, 25, 28, 0.25), 0 0.1rem 0.1rem rgba(21, 21, 24, 0.1800000072);
    background-color: #b0c4ca;
    border-radius: 1.5rem;
    margin-bottom: 2.9rem;
    height: 4.8rem;
    display: flex;
    align-items: center;

    .filtro-1-vLW {
      height: 100%;
      display: flex;
      color: #ffffff;
      border-radius: 1.5rem;
      margin-right: 0.8rem;
      width: 9rem;
      white-space: nowrap;
      background-color: #006ed5;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 700;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      justify-content: center;
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
    }
    .filtro-2-selecionado-vjp {
      margin-right: 0.7rem;
      height: 100%;
      align-items: center;
      line-height: 1.15;
      background-color: #feef01;
      justify-content: center;
      font-size: 1.4rem;
      font-family: Arimo, 'Source Sans Pro';
      display: flex;
      color: #000000;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 9rem;
      font-weight: 700;
      white-space: nowrap;
    }
    .filtro-3-selecionado-a3g {
      padding: 0.1rem 1.15rem;
      margin-right: 0.9rem;
      box-sizing: border-box;
      width: 9rem;
      height: 100%;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #feef01;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .filtro-3-texto-WCE {
        display: flex;
        align-items: center;
        font-family: Arimo, 'Source Sans Pro';
        max-width: 6.7rem;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
        color: #000000;
      }
    }
    .filtro-4-xa2 {
      width: 9rem;
      flex-shrink: 0;
      margin-right: 0.8rem;
      box-sizing: border-box;
      padding: 0.1rem 0.15rem;
      height: 100%;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #006ed5;
      border-radius: 1.5rem;

      .filtro-4-texto-gkv {
        max-width: 8.7rem;
        align-items: center;
        font-weight: 700;
        font-family: Arimo, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 1.15;
        color: #ffffff;
      }
    }
    .filtro-5-YYE {
      margin-right: 0.75rem;
      align-items: center;
      font-size: 1.4rem;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      font-weight: 700;
      width: 9rem;
      height: 100%;
      line-height: 1.15;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #006ed5;
      color: #ffffff;
      border-radius: 1.5rem;
    }
    .filtro-6-mQz {
      margin-right: 0.75rem;
      width: 9.1rem;
      height: 100%;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
      flex-shrink: 0;

      .filtro-6-fundo-X9G {
        position: absolute;
        left: 0.05rem;
        top: 0;
        box-shadow: 0 0 0.1rem rgba(25, 25, 28, 0.25), 0 0.1rem 0.1rem rgba(21, 21, 24, 0.1800000072);
        background-color: #006ed5;
        border-radius: 1.5rem;
        width: 9rem;
        height: 3.5rem;
      }
      .filtro-6-texto-1aE {
        height: 1.7rem;
        color: #ffffff;
        top: 0.9rem;
        font-family: Arimo, 'Source Sans Pro';
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        width: 9.1rem;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
      }
    }
    .filtro-7-HGr {
      font-weight: 700;
      border-radius: 1.5rem;
      margin-right: 0.8rem;
      align-items: center;
      font-size: 1.4rem;
      background-color: #006ed5;
      flex-shrink: 0;
      width: 9rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      color: #ffffff;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      height: 100%;
      justify-content: center;
      line-height: 1.15;
    }
    .filtro-8-LF8 {
      width: 9rem;
      background-color: #006ed5;
      margin-right: 0.8rem;
      box-sizing: border-box;
      padding: 0.1rem 0.2rem;
      flex-shrink: 0;
      height: 100%;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;

      .filtro-8-texto-g46 {
        max-width: 8.6rem;
        font-size: 1.4rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        line-height: 1.15;
        font-family: Arimo, 'Source Sans Pro';
      }
    }
    .filtro-9-vz2 {
      margin-right: 0.75rem;
      height: 100%;
      font-size: 1.4rem;
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.15;
      color: #ffffff;
      border-radius: 1.5rem;
      width: 9rem;
      font-family: Arimo, 'Source Sans Pro';
      background-color: #006ed5;
      font-weight: 700;
    }
    .filtro-10-P6v {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 9.1rem;
      height: 100%;
      position: relative;

      .filtro-2-fundo-jga {
        width: 9rem;
        height: 3.5rem;
        position: absolute;
        left: 0.05rem;
        top: 0;
        box-shadow: 0 0 0.1rem rgba(25, 25, 28, 0.25), 0 0.1rem 0.1rem rgba(21, 21, 24, 0.1800000072);
        background-color: #006ed5;
        border-radius: 1.5rem;
      }
      .filtro-2-texto-3SN {
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: Arimo, 'Source Sans Pro';
        width: 9.1rem;
        height: 1.7rem;
        left: 0;
        position: absolute;
        white-space: nowrap;
        top: 0.9rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
      }
    }
  }
  .image-1-4sG {
    width: 100rem;
    height: 15.853rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
