button {
  border: none;
}

.filtro {
  width: 10%;
  height: 100%;
  color: #ffffff;
  background-color: #006ed5;
  border-radius: 25px;
}

.filtro-right {
  margin-right: 1%;
}

.filtro:hover {
  background-color: #feef01;
  color: #000000;
}

.filtro-selecionado {
  color: #000000;
  background-color: #feef01;
}

.filtro-selecionado:hover {
  background-color: #006ed5;
  color: #ffffff;
}

.texto-filtro {
  font-size: 90%;
  font-weight: 700;
  line-height: 1.15;
  white-space: normal;
  justify-content: center;
}