button {
  border: none;
}

.painel-grande {
  width: 82.4%;
  height: 83.5%;
  position: absolute;
  left: 15%;
  top: 10%;

  margin: auto;

  background-color: #ffffff;
  border-radius: 25px;
}

.filtros {
  margin-top: 2%;
  margin-left: 3.5%;
  padding: 0.7% 1.4% 0.7% 1.4%;
  width: 93%;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: #b0c4ca;
  border-radius: 25px;

  border: #006ed5 1px solid;
}
.filtro {
  width: 10%;
  height: 100%;
  color: #ffffff;
  background-color: #006ed5;
  border-radius: 25px;
}

.filtro-right {
  margin-right: 1%;
}

.filtro:hover {
  background-color: #feef01;
  color: #000000;
}

.filtro-selecionado {
  color: #000000;
  background-color: #feef01;
}

.filtro-selecionado:hover {
  background-color: #006ed5;
  color: #ffffff;
}

.texto-filtro {
  font-size: 90%;
  font-weight: 700;
  line-height: 1.15;
  white-space: normal;
  justify-content: center;
}

.lista-protocolos {
  margin-top: 2%;
  margin-left: 2.5%;
  width: 95%;
}