
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.8rem;
}.barra-de-ttulo-Rok {
  box-sizing: border-box;
  padding: 0.908rem 1.796rem 0.901rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.barra-de-ttulo-Rok .ttulo-MBc {
  margin: 0rem 72.1rem 0.008rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.barra-de-ttulo-Rok .semestre-filtrado-Sir {
  margin: 0rem 0.904rem 0.008rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.barra-de-ttulo-Rok .cone-9tA {
  width: 2.3rem;
  height: 2.0909rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
