
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.8rem;
}.painel-oSW {
  box-sizing: border-box;
  padding: 1.2rem 1.1rem 1rem 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.painel-oSW .ttulo-painel-1-Kve {
  margin: 0rem 0rem 1.8rem 1.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 {
  margin: 0rem 0.8rem 2.1rem 0.8rem;
  box-sizing: border-box;
  padding: 0.6rem 1.35rem 0.7rem 1.4rem;
  width: calc(100% - 1.6rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.1rem rgba(25, 25, 28, 0.25), 0 0.1rem 0.1rem rgba(21, 21, 24, 0.1800000072);
  background-color: #b0c4ca;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-1-KpA {
  margin-right: 0.8rem;
  width: 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #006ed5;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-2-selecionado-XvE {
  margin-right: 0.7rem;
  width: 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #feef01;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-3-selecionado-mJn {
  margin-right: 0.9rem;
  box-sizing: border-box;
  padding: 0.1rem 1.15rem;
  width: 9rem;
  height: 100%;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #feef01;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-3-selecionado-mJn .filtro-3-texto-hTL {
  max-width: 6.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.painel-oSW .filtros-2q4 .filtro-4-x8N {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 0.1rem 0.15rem;
  width: 9rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #006ed5;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-4-x8N .filtro-4-texto-h5x {
  max-width: 8.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.painel-oSW .filtros-2q4 .filtro-5-Xqg {
  margin-right: 0.75rem;
  width: 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #006ed5;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-6-Adk {
  margin-right: 0.75rem;
  width: 9.1rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-6-Adk .filtro-6-fundo-ifG {
  width: 9rem;
  height: 3.5rem;
  position: absolute;
  left: 0.05rem;
  top: 0;
  box-shadow: 0 0 0.1rem rgba(25, 25, 28, 0.25), 0 0.1rem 0.1rem rgba(21, 21, 24, 0.1800000072);
  background-color: #006ed5;
  border-radius: 1.5rem;
}
.painel-oSW .filtros-2q4 .filtro-6-Adk .filtro-6-texto-R3t {
  width: 9.1rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.painel-oSW .filtros-2q4 .filtro-7-swU {
  margin-right: 0.8rem;
  width: 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #006ed5;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-8-utA {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 0.1rem 0.2rem;
  width: 9rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #006ed5;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-8-utA .filtro-8-texto-T8z {
  max-width: 8.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.painel-oSW .filtros-2q4 .filtro-9-6xe {
  margin-right: 0.75rem;
  width: 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #006ed5;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-10-9vv {
  width: 9.1rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .filtros-2q4 .filtro-10-9vv .filtro-2-fundo-iUE {
  width: 9rem;
  height: 3.5rem;
  position: absolute;
  left: 0.05rem;
  top: 0;
  box-shadow: 0 0 0.1rem rgba(25, 25, 28, 0.25), 0 0.1rem 0.1rem rgba(21, 21, 24, 0.1800000072);
  background-color: #006ed5;
  border-radius: 1.5rem;
}
.painel-oSW .filtros-2q4 .filtro-10-9vv .filtro-2-texto-Dft {
  width: 9.1rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.painel-oSW .auto-group-j6ce-Eqt {
  width: 100%;
  height: 44.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .auto-group-qdt4-Bm8 {
  margin-right: 0.4rem;
  box-sizing: border-box;
  padding: 1.1rem 1.3rem;
  height: 44.8rem;
  background-color: rgba(0, 0, 0, 0.0599999987);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .auto-group-qdt4-Bm8 .image-1-dados-7ug {
  width: 83rem;
  height: 13.158rem;
  object-fit: cover;
  vertical-align: top;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ {
  box-sizing: border-box;
  padding: 0.833rem 0.6rem 0.833rem 0.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.0599999987);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .rectangle-4-a2a {
  margin: 1.293rem 0.1rem 0rem 0rem;
  width: 0.8rem;
  height: 19.5718rem;
  background-color: #00008b;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL {
  width: 13.4rem;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-1-Ecv {
  margin-bottom: 0.9212rem;
  width: 9.3911rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-1-Ecv .ttulo-grfico-1-yqQ {
  margin-bottom: 0.0356rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-1-Ecv .auto-group-pzmu-6QE {
  margin-right: 0.213rem;
  width: 9.1781rem;
  height: 1.6826rem;
  position: relative;
  border: solid 0.1rem #006ed5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6ad500;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-1-Ecv .auto-group-pzmu-6QE .rectangle-2-2og {
  width: 7.3425rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff0000;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-1-Ecv .auto-group-pzmu-6QE .rectangle-1-Aut {
  width: 5.5068rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cbbf01;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-2-Gi2 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-2-Gi2 .ttulo-grfico-1-E94 {
  margin: 0rem 0.918rem 0.036rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-2-Gi2 .auto-group-ygln-918 {
  width: 100%;
  height: 1.6826rem;
  position: relative;
  border: solid 0.1rem #006ed5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6ad500;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-2-Gi2 .auto-group-ygln-918 .rectangle-2-6h4 {
  width: 9.1781rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff0000;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .grfico-2-Gi2 .auto-group-ygln-918 .rectangle-1-Skv {
  width: 7.3425rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cbbf01;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL {
  box-sizing: border-box;
  padding-top: 0.7441rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-3-gvA {
  margin-bottom: 0.9212rem;
  width: 12.4429rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-3-gvA .ttulo-grfico-1-Rsk {
  margin: 0rem 0rem 0.036rem 0.039rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-3-gvA .auto-group-37ux-Ljp {
  width: 100%;
  height: 1.6826rem;
  position: relative;
  border: solid 0.1rem #006ed5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6ad500;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-3-gvA .auto-group-37ux-Ljp .rectangle-2-hKU {
  width: 10.05rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff0000;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-3-gvA .auto-group-37ux-Ljp .rectangle-1-FLz {
  width: 7.3425rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cbbf01;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-4-MQ2 {
  margin-bottom: 0.7441rem;
  width: 12.4822rem;
  height: 3.2411rem;
  position: relative;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-4-MQ2 .ttulo-grfico-1-hCz {
  width: 6.9rem;
  height: 1.7rem;
  position: absolute;
  left: 2.7911rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-4-MQ2 .rectangle-3-PrW {
  width: 12.4822rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 1.5585rem;
  border: solid 0.1rem #63c4c2;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #66707d;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-4-MQ2 .rectangle-2-VuY {
  width: 11.5644rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 1.5585rem;
  background-color: #c24b46;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-4-MQ2 .rectangle-1-SJz {
  width: 9.3616rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 1.5585rem;
  background-color: #407d76;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-5-PEE {
  width: 12.4822rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-5-PEE .ttulo-grfico-1-jot {
  margin: 0rem 0rem 0.036rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-5-PEE .auto-group-nurz-TE6 {
  width: 100%;
  height: 1.6826rem;
  position: relative;
  border: solid 0.1rem #63c4c2;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d8ebf1;
  flex-shrink: 0;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-5-PEE .auto-group-nurz-TE6 .rectangle-2-1Fc {
  width: 11.2943rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #6ad500;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-5-PEE .auto-group-nurz-TE6 .rectangle-4-xRk {
  width: 8.4229rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #feef01;
}
.painel-oSW .auto-group-j6ce-Eqt .grficos-EjQ .auto-group-mtnz-VfL .auto-group-nbst-9fL .grfico-5-PEE .auto-group-nurz-TE6 .rectangle-1-VAn {
  width: 5.9658rem;
  height: 1.6826rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #006ed5;
}
