
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.8rem;
}.barra-de-ttulo-HnN {
  box-sizing: border-box;
  padding: 0.7rem 1.856rem 0.856rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  .ttulo-1TU {
    line-height: 1.15;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0.156rem 72.1rem 0rem 0rem;
    display: flex;
  }
  .semestre-filtrado-VNe {
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    margin: 0.156rem 0.8rem 0rem 0rem;
    text-align: right;
    display: flex;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.15;
    flex-shrink: 0;
  }
  .cone-bRg {
    width: 2.3438rem;
    height: 2.3438rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
}
