
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 11.3rem;
}.menu-principal-4yU {
  position: relative;
  width: 100%;
  height: 64.2rem;

  .cones-QnS {
    vertical-align: top;
    width: 11.3rem;
    height: 64.2rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
  }
  .opes-x3G {
    width: 7.9rem;
    height: 31.8rem;
    position: absolute;
    left: 2.5rem;
    top: 10.65rem;

    .opo-1-fiN {
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.15;
      color: #d8ebf1;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3.3rem;
    }
    .opo-2-zVk {
      font-weight: 700;
      line-height: 1.15;
      color: #d8ebf1;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3.4rem;
      display: flex;
      font-size: 1.4rem;
    }
    .opo-3-selecionada-XVg {
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3.3rem;
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.15;
      color: #0759ab;
    }
    .opo-4-TPL {
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3.1rem;
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.15;
      color: #d8ebf1;
    }
    .opo-5-bkS {
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.15;
      color: #d8ebf1;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3.3rem;
    }
    .opo-6-Y9t {
      color: #d8ebf1;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3.5rem;
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.15;
    }
    .opo-7-gWz {
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.15;
      color: #d8ebf1;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
