
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.8rem;
}.painel-uvN {
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 1.2rem 1.1rem 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;

  .ttulo-painel-1-FDY {
    font-weight: 700;
    white-space: nowrap;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 2.9rem 1.6rem;
    display: flex;
    font-size: 1.6rem;
    line-height: 1.15;
  }
  .auto-group-b4tw-Lkn {
    flex-shrink: 0;
    width: 100%;
    height: 50.7rem;
    display: flex;
    align-items: center;

    .dados-rUE {
      padding: 1.2rem 1.3rem;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.0599999987);
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-right: 0.5rem;
      box-sizing: border-box;

      .image-1-dados-o8a {
        width: 83rem;
        height: 13.158rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .grficos-6tN {
      align-items: flex-start;
      background-color: rgba(0, 0, 0, 0.0599999987);
      border-radius: 1.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.05rem 0.6rem 1.05rem 0.7rem;
      height: 100%;
      display: flex;

      .rectangle-4-RQr {
        width: 0.8rem;
        height: 22.1rem;
        background-color: #00008b;
        flex-shrink: 0;
        margin: 1.35rem 0.1rem 0rem 0rem;
      }
      .auto-group-499g-kT8 {
        width: 13.4rem;
        flex-shrink: 0;

        .grfico-1-u58 {
          margin-bottom: 1.15rem;
          width: 9.3911rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .ttulo-grfico-1-3BL {
            flex-shrink: 0;
            margin-bottom: 0.15rem;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.15;
            color: #000000;
          }
          .auto-group-z1sc-Ytn {
            width: 9.1781rem;
            position: relative;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 0.213rem;
            height: 1.9rem;
            border: solid 0.1rem #006ed5;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #6ad500;

            .rectangle-2-gk6 {
              top: 0;
              background-color: #ff0000;
              width: 7.3425rem;
              height: 1.9rem;
              position: absolute;
              left: 0;
            }
            .rectangle-1-nHL {
              left: 0;
              top: 0;
              background-color: #cbbf01;
              width: 5.5068rem;
              height: 1.9rem;
              position: absolute;
            }
          }
        }
        .grfico-2-Fgi {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .ttulo-grfico-1-zeJ {
            font-size: 1.4rem;
            font-family: Arimo, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.15;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.918rem 0.15rem 0rem;
            display: flex;
          }
          .auto-group-fwfx-W6r {
            flex-shrink: 0;
            width: 100%;
            height: 1.9rem;
            position: relative;
            border: solid 0.1rem #006ed5;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #6ad500;

            .rectangle-2-rgW {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #ff0000;
              width: 9.1781rem;
              height: 1.9rem;
            }
            .rectangle-1-CVU {
              width: 7.3425rem;
              height: 1.9rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #cbbf01;
            }
          }
        }
        .auto-group-pfcj-Wm4 {
          width: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding-top: 0.95rem;

          .grfico-3-rpv {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 1.15rem;
            width: 12.4429rem;
            align-items: center;
            display: flex;

            .ttulo-grfico-1-bGi {
              color: #000000;
              justify-content: center;
              font-size: 1.4rem;
              line-height: 1.15;
              font-weight: 400;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.15rem 0.039rem;
              display: flex;
              align-items: center;
            }
            .auto-group-tmk4-4g6 {
              border: solid 0.1rem #006ed5;
              box-sizing: border-box;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #6ad500;
              flex-shrink: 0;
              width: 100%;
              height: 1.9rem;
              position: relative;

              .rectangle-2-Qzr {
                left: 0;
                top: 0;
                background-color: #ff0000;
                width: 10.05rem;
                height: 1.9rem;
                position: absolute;
              }
              .rectangle-1-AUE {
                top: 0;
                background-color: #cbbf01;
                width: 7.3425rem;
                height: 1.9rem;
                position: absolute;
                left: 0;
              }
            }
          }
          .grfico-4-stS {
            flex-shrink: 0;
            margin-bottom: 0.95rem;
            width: 12.4822rem;
            height: 3.55rem;
            position: relative;

            .ttulo-grfico-1-DSW {
              height: 1.7rem;
              display: flex;
              color: #000000;
              width: 6.9rem;
              top: 0;
              align-items: center;
              font-size: 1.4rem;
              line-height: 1.15;
              position: absolute;
              left: 2.7911rem;
              justify-content: center;
              font-weight: 400;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
            }
            .rectangle-3-toY {
              background-color: #66707d;
              position: absolute;
              top: 1.65rem;
              border: solid 0.1rem #63c4c2;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              width: 12.4822rem;
              height: 1.9rem;
              left: 0;
              box-sizing: border-box;
            }
            .rectangle-2-PkJ {
              width: 11.5644rem;
              height: 1.9rem;
              position: absolute;
              left: 0;
              top: 1.65rem;
              background-color: #c24b46;
            }
            .rectangle-1-8Sz {
              top: 1.65rem;
              background-color: #407d76;
              width: 9.3616rem;
              height: 1.9rem;
              position: absolute;
              left: 0;
            }
          }
          .grfico-5-5NE {
            width: 12.4822rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .ttulo-grfico-1-qMQ {
              line-height: 1.15;
              font-family: Arimo, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 0rem 0.15rem 0rem;
              display: flex;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
            }
            .auto-group-18wz-xB8 {
              background-color: #d8ebf1;
              flex-shrink: 0;
              width: 100%;
              height: 1.9rem;
              position: relative;
              border: solid 0.1rem #63c4c2;
              box-sizing: border-box;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

              .rectangle-2-uMG {
                width: 11.2943rem;
                height: 1.9rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #6ad500;
              }
              .rectangle-4-3yG {
                width: 8.4229rem;
                height: 1.9rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #feef01;
              }
              .rectangle-1-ohY {
                position: absolute;
                left: 0;
                top: 0;
                background-color: #006ed5;
                width: 5.9658rem;
                height: 1.9rem;
              }
            }
          }
        }
      }
    }
  }
}
