
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.tudo-P5Q {
  width: 100%;
  height: 72rem;
  position: relative;

  .fundos-bhG {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 128rem;
    height: 72rem;
  }
  .painis-KNN {
    position: absolute;
    left: 19.8rem;
    top: 18.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 104rem;
    height: 47.5rem;

    .auto-group-8per-bUJ {
      margin-bottom: 1.1rem;
      width: 100%;
      height: 23.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .painel-1-7hY {
        margin-right: 1.4rem;
        padding: 1.1rem 2.6rem 3.25rem 2.6rem;
        width: 51.3rem;
        box-sizing: border-box;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        .ttulo-painel-1-2Ji {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 700;
        }
        .grficos-WDt {
          column-gap: 1rem;
          align-items: center;
          margin: 0rem 4.9rem 0rem 4.4rem;
          width: calc(100% - 9.3rem);
          height: 13.95rem;
          display: flex;

          .grfico-1-CMc {
            width: 11.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-tnqt-hBt {
              background-color: #0759ab;
              color: #ffffff;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              font-family: Arimo, 'Source Sans Pro';
              border-radius: 5.8rem;
              background-size: cover;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:22:27');
              display: flex;
              align-items: center;
              white-space: nowrap;
              justify-content: center;
              font-size: 1.6rem;
              height: 11.6rem;
              font-weight: 700;
              line-height: 1.15;
              background-position: center;
              flex-shrink: 0;
              margin-bottom: 0.65rem;
              width: 100%;
            }
            .ttulo-grfico-1-ryt {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              line-height: 1.15;
              font-family: Arimo, 'Source Sans Pro';
              font-size: 1.4rem;
              color: #000000;
            }
          }
          .grfico-2-NhL {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 11.6rem;
            height: 100%;
            align-items: center;

            .auto-group-s54j-WHk {
              color: #ffffff;
              justify-content: center;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              height: 11.6rem;
              font-weight: 700;
              line-height: 1.15;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #0759ab;
              border-radius: 5.8rem;
              background-repeat: no-repeat;
              margin-bottom: 0.65rem;
              background-position: center;
              align-items: center;
              font-size: 1.6rem;
              font-family: Arimo, 'Source Sans Pro';
              background-size: cover;
              background-image: url('REPLACE_IMAGE:22:29');
              width: 100%;
            }
            .ttulo-grfico-2-Z18 {
              line-height: 1.15;
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
              font-size: 1.4rem;
              color: #000000;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
            }
          }
          .grfico-3-GgE {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 11.6rem;

            .auto-group-qndc-phk {
              height: 11.6rem;
              font-weight: 700;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: Arimo, 'Source Sans Pro';
              background-size: cover;
              background-position: center;
              margin-bottom: 0.65rem;
              white-space: nowrap;
              border-radius: 5.8rem;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:22:31');
              flex-shrink: 0;
              width: 100%;
              display: flex;
              line-height: 1.15;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #0759ab;
            }
            .ttulo-grfico-3-sg2 {
              align-items: center;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.15;
              color: #000000;
              flex-shrink: 0;
              justify-content: center;
            }
          }
        }
      }
      .painel-2-A9L {
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-size: 1.6rem;
        color: #000000;
        line-height: 1.15;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1.5rem;
        width: 51.3rem;
        font-weight: 700;
      }
    }
    .auto-group-pvkp-c1L {
      height: 23.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .painel-3-x5C {
        margin-right: 1.4rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 1.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 0.7rem 0.9rem 2.55rem 2.6rem;
        width: 51.3rem;
        display: flex;
        flex-shrink: 0;

        .auto-group-qpg6-3cS {
          height: 2.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 3.35rem;
          width: 100%;

          .ttulo-painel-3-PAW {
            color: #000000;
            flex-shrink: 0;
            line-height: 1.15;
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 33.3rem;
          }
          .boto-ver-mais-hgz {
            height: 100%;
            color: #feef01;
            white-space: nowrap;
            flex-shrink: 0;
            width: 9.3rem;
            display: flex;
            font-weight: 700;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-family: Arimo, 'Source Sans Pro';
            background-color: #0759ab;
            line-height: 1.15;
            border-radius: 1.5rem;
          }
        }
        .anncios-BMG {
          margin-right: 2.2rem;
          width: 45.6rem;
          flex-shrink: 0;

          .texto-anncio-1-haW {
            margin-bottom: 0.55rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.15;
            color: #403c56;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-1-38a {
            width: 100%;
            height: 0.2rem;
            background-color: #f5f5f5;
            margin-bottom: 0.35rem;
          }
          .texto-anncio-2-PCS {
            color: #403c56;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.55rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.15;
          }
          .line-2-hyp {
            margin-bottom: 0.35rem;
            width: 100%;
            height: 0.2rem;
            background-color: #f5f5f5;
          }
          .texto-anncio-3-G1L {
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.15;
            color: #403c56;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.55rem;
          }
          .line-3-Q7Y {
            margin-bottom: 0.35rem;
            width: 100%;
            height: 0.2rem;
            background-color: #f5f5f5;
          }
          .texto-anncio-4-kx6 {
            font-weight: 400;
            line-height: 1.15;
            color: #403c56;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.55rem;
            display: flex;
            font-size: 1.6rem;
          }
          .line-4-6m4 {
            margin-bottom: 0.35rem;
            width: 100%;
            height: 0.2rem;
            background-color: #f5f5f5;
          }
          .texto-anncio-5-ena {
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.15;
            color: #403c56;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .painel-4-8Sr {
        font-size: 1.6rem;
        font-weight: 700;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 51.3rem;
        height: 100%;
        color: #000000;
        display: flex;
        font-family: Arimo, 'Source Sans Pro';
        background-color: #ffffff;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 1.1rem 2rem;
        line-height: 1.15;
        white-space: nowrap;
      }
    }
  }
  .indicadores-APY {
    width: 104rem;
    height: 8.4rem;
    position: absolute;
    left: 19.8rem;
    top: 8.7rem;
    display: flex;
    align-items: center;

    .indicador-1-VRp {
      flex-shrink: 0;
      margin-right: 3.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .lado-indicador-1-2wY {
        margin-right: 2.625rem;
        width: 0.9rem;
        height: 8.4rem;
        background-color: #feef01;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .bell-xaJ {
        height: 4.375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.2083rem;
        width: 3.75rem;
      }
      .auto-group-x9ne-6Ai {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.15rem 3rem 1.9rem 2.725rem;

        .linha-indicador-1-pcW {
          margin: 0.05rem 2.2rem 0rem 0rem;
          width: 0.3rem;
          height: 3.1rem;
          background-color: #e4e4e4;
          flex-shrink: 0;
        }
        .auto-group-geqn-YYW {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          align-items: center;

          .ttulo-indicador-1-WES {
            margin-bottom: 0.25rem;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            line-height: 1.15;
            white-space: nowrap;
            display: flex;
            font-weight: 700;
            color: #006ed5;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .nmero-indicador-1-DPk {
            font-family: Arimo, 'Source Sans Pro';
            display: flex;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            margin-right: 0.1rem;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .indicador-2-6TY {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-right: 3.8rem;
      height: 100%;

      .lado-indicador-2-SXQ {
        margin-right: 2.425rem;
        width: 0.9rem;
        height: 8.4rem;
        background-color: #feef01;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .contract-mJn {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.2603rem;
        width: 4.2187rem;
        height: 4.427rem;
      }
      .auto-group-b4xp-hCS {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.15rem 2.15rem 1.9rem 2.056rem;
        height: 100%;

        .linha-indicador-2-ECN {
          margin: 0.05rem 1.35rem 0rem 0rem;
          width: 0.3rem;
          height: 3.1rem;
          background-color: #e4e4e4;
          flex-shrink: 0;
        }
        .auto-group-9bee-xeA {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .ttulo-indicador-2-XBU {
            display: flex;
            font-size: 1.5rem;
            line-height: 1.15;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.25rem;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            color: #006ed5;
          }
          .nmero-indicador-2-qxr {
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 700;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            display: flex;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
          }
        }
      }
    }
    .indicador-3-vjQ {
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-right: 3.9rem;
      height: 100%;
      display: flex;

      .lado-indicador-3-5cJ {
        height: 8.4rem;
        background-color: #feef01;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 0.9rem;
      }
      .smbolo-indicador-3-Mpi {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 5.5rem;
        height: 5.3rem;
      }
      .auto-group-npqw-h7t {
        padding: 2.15rem 2.95rem 1.9rem 1.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .linha-indicador-3-pyC {
          margin: 0.05rem 1.65rem 0rem 0rem;
          width: 0.3rem;
          height: 3.1rem;
          background-color: #e4e4e4;
          flex-shrink: 0;
        }
        .auto-group-n5xi-xZc {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .ttulo-indicador-3-X6v {
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.25rem;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.15;
            color: #006ed5;
            white-space: nowrap;
            display: flex;
            justify-content: center;
          }
          .nmero-indicador-3-3LA {
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1rem;
            display: flex;
            font-size: 2rem;
          }
        }
      }
    }
    .indicador-4-WzS {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .lado-indicador-4-Gyc {
        margin-right: 1.9167rem;
        width: 0.9rem;
        height: 8.4rem;
        background-color: #feef01;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .cancel-c1t {
        width: 4.1667rem;
        height: 4.1667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-7o1y-wpr {
        padding: 2.15rem 3.4rem 1.9rem 1.917rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .linha-indicador-4-gGe {
          margin: 0.05rem 2.1rem 0rem 0rem;
          width: 0.3rem;
          height: 3.1rem;
          background-color: #e4e4e4;
          flex-shrink: 0;
        }
        .auto-group-tttu-1Jv {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .ttulo-indicador-4-m3C {
            color: #006ed5;
            white-space: nowrap;
            margin-bottom: 0.25rem;
            display: flex;
            align-items: center;
            font-weight: 700;
            line-height: 1.15;
            justify-content: center;
            font-size: 1.5rem;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .nmero-indicador-4-t7p {
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.1rem;
            align-items: center;
            justify-content: center;
            line-height: 1.15;
            display: flex;
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }
    }
  }
  .barra-de-ttulo-N2z {
    box-sizing: border-box;
    width: 103.8rem;
    height: 3.9rem;
    align-items: center;
    padding: 0.856rem 1.744rem 0.744rem 0rem;
    position: absolute;
    left: 19.8rem;
    top: 3rem;
    display: flex;
    background-color: #ffffff;

    .ttulo-TKL {
      margin: 0rem 72.1rem 0.113rem 0rem;
      font-weight: 700;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.6rem;
      line-height: 1.15;
      color: #000000;
    }
    .semestre-filtrado-y2n {
      text-align: right;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0.956rem 0.113rem 0rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.15;
      flex-shrink: 0;
      display: flex;
    }
    .cone-UVL {
      width: 2.3rem;
      height: 2.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .menu-principal-CgE {
    width: 11.3rem;
    height: 64.2rem;
    position: absolute;
    left: 5.7rem;
    top: 5rem;

    .cones-8Zt {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 11.3rem;
      height: 64.2rem;
      position: absolute;
    }
    .opes-5k2 {
      width: 7.9rem;
      height: 31.8rem;
      position: absolute;
      left: 2.5rem;
      top: 10.65rem;

      .opo-1-selecionada-cEA {
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.3rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
        color: #0759ab;
      }
      .opo-2-Xc2 {
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
        color: #d8ebf1;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.4rem;
      }
      .opo-3-4bx {
        line-height: 1.15;
        color: #d8ebf1;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.3rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
      }
      .opo-4-brn {
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.1rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
        color: #d8ebf1;
      }
      .opo-5-wfk {
        line-height: 1.15;
        color: #d8ebf1;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.3rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
      }
      .opo-6-Hjc {
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
        color: #d8ebf1;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.5rem;
      }
      .opo-7-ScW {
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
        color: #d8ebf1;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
