.clean-link {
  text-decoration: none;
}

.clean-link:hover {
  color: white;
  font-weight: bolder;
}

.clean-link-selecionado {
  text-decoration: none;
}







html {
	font-size: 50%;
}

* {
	margin: 0;
	padding: 0;
}

.fundos {
  width: 128rem;
  height: 72rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}

.paineis {
  width: 104rem;
  height: 47.5rem;
  position: absolute;
  left: 19.8rem;
  top: 18.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.painel {
  border-radius: 1.5rem;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 51.3rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;

}

.titulo-painel {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}

.painel-grupo-1 {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 23.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.painel-1 {
  margin-right: 1.4rem;
  padding: 1.1rem 2.6rem 3.25rem 2.6rem;
}

.titulo-painel-1 {
  margin-bottom: 3rem;
}

.graficos {
  margin: 0rem 4.9rem 0rem 4.4rem;
  width: calc(100% - 9.3rem);
  height: 13.95rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.grafico-1 {
  width: 11.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.porcentagem-grafico-1 {
  margin-bottom: 0.65rem;
  width: 100%;
  height: 11.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #0759ab;
  border-radius: 5.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/grfico-1-atingido.png');
  flex-shrink: 0;
}

.titulo-grafico-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.grafico-2 {
  width: 11.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.porcentagem-grafico-2 {
  margin-bottom: 0.65rem;
  width: 100%;
  height: 11.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #0759ab;
  border-radius: 5.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/grfico-2-atingido.png');
  flex-shrink: 0;
}

.titulo-grafico-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.grafico-3 {
  width: 11.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.porcentagem-grafico-3 {
  margin-bottom: 0.65rem;
  width: 100%;
  height: 11.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #0759ab;
  border-radius: 5.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/grfico-3-atingido.png');
  flex-shrink: 0;
}

.titulo-grafico-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.painel-2 {
  padding: 1.1rem 2rem;
  
}

.painel-grupo-2 {
  width: 100%;
  height: 23.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.painel-3 {
  margin-right: 1.4rem;
  padding: 0.7rem 0.9rem 2.55rem 2.6rem;
}

.grupo-botao-ver-mais {
  margin-bottom: 3.35rem;
  width: 100%;
  height: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.titulo-painel-3 {
  margin-right: 33.3rem;

}

.botao-ver-mais {
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #feef01;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #0759ab;
  border-radius: 1.5rem;
  flex-shrink: 0;
}

.anuncios {
  margin-right: 2.2rem;
  width: 45.6rem;
  flex-shrink: 0;
}

.texto-anuncio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #403c56;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;

}

.linha-anuncio {
  width: 100%;
  height: 0.2rem;
  background-color: #f5f5f5;
  margin-bottom: 0.55rem;

}

.painel-4 {
  padding: 1.1rem 2rem;
  
}

.indicadores {
  width: 104rem;
  height: 8.4rem;
  position: absolute;
  left: 19.8rem;
  top: 8.7rem;
  display: flex;
  align-items: center;
}

.indicador {
  margin-right: 3.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}

.lado-indicador {
  margin-right: 2.14rem;
  width: 0.9rem;
  height: 8.4rem;
  background-color: #feef01;
  border-radius: 1rem 0 0 1rem;
  flex-shrink: 0;
}

.linha-indicador {
  width: 0.3rem;
  height: 3.1rem;
  background-color: #e4e4e4;
  flex-shrink: 0;

}

.icone-sino {
  margin-top: 0.2083rem;
  width: 3.75rem;
  height: 4.375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.grupo-indicador-1 {
  box-sizing: border-box;
  padding: 2.15rem 3rem 1.9rem 2.725rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.linha-indicador-1 {
  margin: 0.05rem 2.2rem 0rem 0rem;
  
}

.auto-group-geqn-YYW {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.titulo-indicador {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #006ed5;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.numero-indicador {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.icone-despachadas {
  margin-top: 0.2603rem;
  width: 4.2187rem;
  height: 4.427rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.auto-group-b4xp-hCS {
  box-sizing: border-box;
  padding: 2.15rem 2.15rem 1.9rem 2.056rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.linha-indicador-2 {
  margin: 0.05rem 1.35rem 0rem 0rem;
}

.auto-group-9bee-xeA {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.simbolo-indicador-3 {
  margin-top: 0.1rem;
  width: 5.5rem;
  height: 5.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.auto-group-npqw-h7t {
  box-sizing: border-box;
  padding: 2.15rem 2.95rem 1.9rem 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.linha-indicador-3 {
  margin: 0.05rem 1.65rem 0rem 0rem;
}

.auto-group-n5xi-xZc {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.icone-canceladas {
  width: 4.1667rem;
  height: 4.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.auto-group-7o1y-wpr {
  box-sizing: border-box;
  padding: 2.15rem 3.4rem 1.9rem 1.917rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.linha-indicador-4 {
  margin: 0.05rem 2.1rem 0rem 0rem;
}

.auto-group-tttu-1Jv {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.barra-de-titulo {
  box-sizing: border-box;
  padding: 0.856rem 1.744rem 0.744rem 0rem;
  width: 103.8rem;
  height: 3.9rem;
  position: absolute;
  left: 19.8rem;
  top: 3rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.titulo {
  margin: 0rem 72.1rem 0.113rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.semestre-filtrado {
  margin: 0rem 0.956rem 0.113rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.icone-pagina {
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.menu-principal {
  width: 11.3rem;
  height: 64.2rem;
  position: absolute;
  left: 5.7rem;
  top: 5rem;
}

.icones {
  width: 11.3rem;
  height: 64.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}

.opcoes {
  width: 7.9rem;
  height: 31.8rem;
  position: absolute;
  left: 2.5rem;
  top: 10.65rem;
}

.opcao {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #d8ebf1;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  margin-bottom: 3.3rem;
}

.opcao-selecionada {
  color: #0759ab;
}
