:root {
  --color1: #fd0a54;
  --color2: #FEEF01;
  --color3: #6AD500;
}
  
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 1.389vh;
  background-color: #afc3c9;
}

a {
  text-decoration: none;
}

.btn-link {
  transition: transform 0.1s ease-out 50ms;
}

.btn-link:hover {
  background-color: lightyellow;
  transform: scale(1.1);
}

.text-link:hover {
  color: white;
  font-weight: bolder;
}

.text-link-selecionado {
  text-decoration: none;
}

.textos {
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}

.shadows {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.fundos {
  width: 128rem;
  height: 72rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}

.paineis {
  width: 104rem;
  height: 47.5rem;
  position: absolute;
  left: 19.8rem;
  top: 18.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.painel {
  border-radius: 1.5rem;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 51.3rem;
  height: 100%;
  flex-shrink: 0;

  margin-right: 1.4rem;

}

.titulo-painel {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
}

.painel-grupo {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 23.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.graficos {
  margin: 3rem 5rem 1rem 7rem;
  width: calc(100% - 9.3rem);
  height: 13.95rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.grafico {
  width: 11.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.titulo-grafico {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  flex-shrink: 0;
}

.porcentagem-grafico {
  margin-bottom: 0.65rem;
  width: 100%;
  height: 11.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.porcentagem2-grafico {
  position: relative;
  background: conic-gradient(from 0deg, var(--clr) 0%, var(--clr) 0% var(--i), #0759AB var(--i), #0759AB 100%);
  border-radius: 50%;
}

.porcentagem2-grafico::before {
  content: '';
  position: absolute;
  inset: 2rem;
  background: #0759AB;
  border-radius: 50%;
}

.texto-porcentagem {
  position: relative;
  text-align: center;
  font-size: 2.2rem;
  color: #ffffff;
  line-height: 1.15;
  font-weight: 700;
}

.botao-ver-mais {
  margin-left: 41rem;
  margin-top: -2rem;
  width: 9.3rem;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #feef01;

  background-color: #0759ab;
  border-radius: 1.5rem;
  height: 2.7rem;
}

.botao-ver-mais:hover {
  color: #0759ab;
  background-color: #feef01;
}

.anuncios {
  margin-left: 2.2rem;
  margin-top: 2.2rem;
  width: 45.6rem;
}

.texto-anuncio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #403c56;
}

.texto-anuncio:hover {
  font-weight: bold;
  color: black;
}

.linha-anuncio {
  width: 100%;
  height: 0.2rem;
  background-color: #f5f5f5;
  margin-bottom: 0.55rem;
}

.indicadores {
  width: 104rem;
  height: 8.4rem;
  position: absolute;
  left: 19.8rem;
  top: 8.7rem;
  display: flex;
  align-items: center;
}

.indicador {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
}

.indicador-right {
  margin-right: 3.85rem;
}

.lado-indicador {
  margin-right: 2.14rem;
  width: 0.9rem;
  height: 8.4rem;
  background-color: #feef01;
  border-radius: 1rem 0 0 1rem;
  flex-shrink: 0;
}

.linha-indicador {
  margin: 0.05rem 2.2rem 0rem 0rem;
  width: 0.3rem;
  height: 3.1rem;
  background-color: #e4e4e4;
  flex-shrink: 0;
}

.titulo-indicador {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #006ed5;
  flex-shrink: 0;
}

.numero-indicador {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  flex-shrink: 0;
}

.auto-group {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.auto-group-2 {
  box-sizing: border-box;
  padding: 2.15rem 2.4rem 1.9rem 2.056rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  
}

.simbolo-indicador-3 {
  margin-top: 0.1rem;
  width: 5.5rem;
  height: 5.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.icone-indicador {
  width: 4.1667rem;
  height: 4.1667rem;
  object-fit: contain;
  vertical-align: top;
}

.barra-de-titulo {
  box-sizing: border-box;
  padding: 0.856rem 1.744rem 0.744rem 0rem;
  width: 103.8rem;
  height: 3.9rem;
  position: absolute;
  left: 19.8rem;
  top: 3rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.titulo {
  margin: 0rem 68rem 0.113rem 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  flex-shrink: 0;
}

.semestre-filtrado {
  margin: 0rem 0.956rem 0.113rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  flex-shrink: 0;
}

.icone-pagina {
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
  object-fit: contain;
}

.menu-principal {
  height: 64.2rem;
  position: absolute;
  left: 5.7rem;
  top: 5rem;
}

.icones {
  height: 64.2rem;
}

.opcoes {
  position: absolute;
  left: 2.5rem;
  top: 10.65rem;
}

.opcao {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #d8ebf1;
  display: flex;
  margin-bottom: 3.3rem;
}

.opcao-selecionada {
  color: #0759ab;
}

.foto {
  position: absolute;
  top: -0.4rem;
  height: 5.8rem;
  width: 5.8rem;
  border-radius: 50%;

  transition: transform 0.2s ease-out 100ms;
}

.foto:hover {
  transform: scale(1.15);
}

.foto-funci {
  left: 4.0rem;
  background-color: lightcoral;
}

.foto-depto {
  left: 0.0rem;
  background-color: lightseagreen;
}

.icone-btn {
  position: absolute;
  height: 2.7rem;
  width: 2.7rem;
  background-color: rgba(0,0,0,.05);
  border-radius: 50%;
  top: 61.3rem;

  transition: transform 0.2s ease-out 100ms;
  transition: background-color 0.2s ease-out 100ms;
}

.icone-btn:hover {
  background-color: rgba(256, 256, 256, 0.25);
}

.icone-config {
  left: 5.3rem;
}

.icone-suporte {
  left: 8.4rem;
}